Source: syndicate-core
Maintainer: Zack Williams, University of Arizona <zdw@cs.arizona.edu>
Section: utils
Priority: optional
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
Build-Depends: debhelper (>= 9), dh-python, protobuf-compiler, libprotobuf-dev, libcurl4-gnutls-dev, libmicrohttpd-dev, libjson0-dev, valgrind, cython, python-all-dev, python-protobuf, libssl-dev, python-crypto, python-requests, libpython2.7-dev, libattr1-dev, libfskit1-dev, libfskit-fuse1-dev,

Package: syndicate-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, libsyndicate1 (= ${binary:Version}), libsyndicate-ug1 (= ${binary:Version})
Description: scalable software-defined storage system for wide-area networks
 Syndicate creates global read/write storage volumes on top of existing systems,
 but while preserving end-to-end domain-specific storage invariants.

Package: libsyndicate1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: scalable software-defined storage system for wide-area networks
 Syndicate creates global read/write storage volumes on top of existing systems,
 but while preserving end-to-end domain-specific storage invariants.

Package: libsyndicate-ug1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsyndicate1 (= ${binary:Version})
Description: scalable software-defined storage system for wide-area networks
 Syndicate creates global read/write storage volumes on top of existing systems,
 but while preserving end-to-end domain-specific storage invariants.

Package: libsyndicate1-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsyndicate1 (= ${binary:Version}), libssl-dev
Description: scalable software-defined storage system for wide-area networks
 Syndicate creates global read/write storage volumes on top of existing systems,
 but while preserving end-to-end domain-specific storage invariants.

Package: libsyndicate-ug1-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsyndicate-ug1 (= ${binary:Version})
Description: scalable software-defined storage system for wide-area networks
 Syndicate creates global read/write storage volumes on top of existing systems,
 but while preserving end-to-end domain-specific storage invariants.

